/* upper header && breadcrumb */

* {
  margin: 0;
}
.breadcrumb-item {
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo-text {
  font-size: 1.5rem;
  text-align: left;
  padding: 5px 10px 0 10px;
}

.upper-hearder {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  width: 100%;
  font-family: sans-serif;
}
.upper-header-bg {
  background-color: grey;
}

.btn-login {
  border-radius: 5px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* .navbar{
    position:fixed;
} */

/* video on  loop */

.video-text {
  position: absolute;
  z-index: 1;
  font-size: 4rem;
  margin: 20% 15%;
  padding-left: 8%;
  color: white;
  text-align: left;
}

.video-loop {
  position: relative;
  /* object-fit: contain; */
}

/* courasoul */

.carousel {
  background-color: rgba(228, 226, 226, 0.877);
  height: 220px;
}
.carosusel-para {
  display: block;
  font-size: 130%;
  text-align: center;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  padding-top: 1%;
}

.cara-img {
  width: 6%;
  vertical-align: middle;
  border-radius: 100%;
  margin-left: 45%;
}

/* testinomials */

.testinomials {
  align-items: center;
  margin: 5%;
  padding-left: 5%;
}

.test-text {
  text-align: center;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2 ;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  margin-inline-start: 0;
  margin-inline-end: 60%;
}

#text-head{
  text-align: center;
  margin: 10%;
  font-size: 2.3rem;
}

#test-button{
  margin: 5%;
  margin-left: 180px;
  width: 30%;
}

.test-img{
  float:right;  
  margin: 8% 12% 0 0;
}

/* testnimial-2 */


.testinomials-2 {
  align-items: center;
  margin: 5%;
  padding-right: 5%;
}

.test-text-2 {
  text-align: center;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2 ;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  margin-inline-start: 60%;
  margin-inline-end: 0;
}

#text-head-2 {
  text-align: center;
  margin: 10%;
  font-size: 2.3rem;
}

#test-button-2 {
  margin: 5%;
  margin-left: 200px;
  width: 30%;
}

.test-img-2 {
  float:left;  
  margin: 8% 0 0 12%;
}


/* cards */


.card-whole{
  margin-left: 8%;
}
.card-1{
  margin:1%;
  float:left;
  width: 18rem;
  
}
.card-2{
  margin:1%;
  float:left;
  width: 18rem;
}
.card-3{
  margin:1%;
  float:left;
  width: 18rem;
  
}

.card-4{
  margin:1%;
  float:left;
  width: 18rem;
  
}



/* footer */

.footer{
  margin: 10%;
  margin-top: 200px;
}

/* trial-jumbotron */

.jumbotron-trials{
margin: 10%;
}

/* reviews */
.media{
  margin: 8%;
  
}
.img-reviews{
  width: 10%;
}

/* workoutplans */
.card-workout{

  margin: 5% 8% 5% 15% ;
  width: 70%;
}

/* contactus */
.jumbotron-fluid{
  margin: 10%;
}